@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *:focus-visible {
    outline: var(--border-width) solid var(--color-focus-background, var(--color-black));
    background: var(--color-focus-background, var(--color-black));
    color: var(--color-focus-foreground, var(--color-white));
  }

  ::selection {
    color: var(--color-selection-foreground, var(--color-white));
    background-color: var(--color-selection-background, var(--color-black));
  }
}

.gtranslate_wrapper {
  font-size: var(--text-basemd);
  font-weight: 300;
  display: flex;

  a {
    padding-inline: .25em;
  }

  a.glink.gt-current-lang,
  a:hover {
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 1px;
  }

  &:has(a.glink:hover:not(.gt-current-lang)) a.glink.gt-current-lang {
    text-decoration: none;
  }
}