.fade-enter-active,
.fade-leave-active {
  transition: .2s ease;
  overflow: clip;
  interpolate-size: allow-keywords;
  height: auto;
}

.fade-enter-from {
  opacity: 0;
  height: 0;
}

.fade-leave-to {
  opacity: 0;
  height: 0;
}

@media (width >= 48rem) {
  .fade-enter-active,
  .fade-leave-active {
    transition: .2s ease;
    overflow: clip;
    interpolate-size: allow-keywords;
    height: auto;
  }

  .fade-enter-from {
    opacity: 0;
    transform: translateY(10%);
    height: auto;
  }

  .fade-leave-to {
    opacity: 0;
    transform: translateY(-.25rem);
    height: 0;
  }
}

.filter-enter-active,
.filter-leave-active {
  transition: .2s ease;
}

.filter-enter-from,
.filter-leave-to {
  opacity: 0;
}